<div class="create-dialog-box scrollable-dialog">
    <div class="title d-flex align-items-center justify-content-space-between">
        <h4 class="mb-0">Modification du Referentiel</h4>
        <button class="close-btn bg-transparent p-0 border-none" ><i class="flaticon-close"></i></button>
    </div>
    <form [formGroup]="referentielFormM" (ngSubmit)="modificationReferentielid()">
        <div class="row"> 
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="d-block fw-semibold">Libelle</label>
                    <input type="text" class="input-control" placeholder="Entrer le libelle du referentiel" value="{{referentiel.libelle}}" formControlName="libelle">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="d-block fw-semibold">Description</label>
                    <input type="text" class="input-control" placeholder="Entrer la description du referentiel" value="{{referentiel.description}}" formControlName="description">
                </div>
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="gray"><i class="ri-close-fill"></i> Cancel</button>
            <button type="submit"><i class="ri-add-fill" ></i> Create New Referentiel</button>
        </div>
    </form>
</div>
