<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h5 class="mb-0">Apprenants</h5>
    <ol class="breadcrumb mb-0 ps-0">

        <li class="breadcrumb-item fw-semibold">Apprenants</li>
        <li class="breadcrumb-item fw-semibold" [routerLink]="['/pages/promos/detail', promo, refId]">Liste</li>
    </ol>
</div>
<div *ngIf="promotion && referentiel">
    <mat-card class="mb-25 tagus-card" [class.component-dark-theme]="themeService.isDark()">

        <mat-card-header>
            <h5 class="mb-0 ">Promotion: <span class="main-color">{{promotion.libelle | titlecase}}</span></h5>
            <div class="d-flex align-items-center">

                <h5 class="mb-0">Référentiel: <span class="main-color">{{referentiel.libelle | titlecase}}</span></h5>

            </div>
        </mat-card-header>
    </mat-card>
</div>

<mat-card class="mb-25 tagus-card">
    <mat-card-content>
        <mat-stepper class="tagus-wizard" #stepper2 orientation="vertical">
            <!-- Apprenants -->
            <mat-step>

                <ng-template matStepLabel>Apprenants</ng-template>
                <mat-card-header>
                    <h5 class="mb-0">Liste Des Apprenants <span class="main-color">  ({{dataSource.data.length}})</span></h5>
                    <div class="d-flex align-items-center">
                        <div *ngIf="isSuperAdmin">

                        <a mat-flat-button class="default-btn tagus small" (click)="openCreateUserDialog('300ms', '100ms')">
                            <i class="ri-add-fill"></i>Nouveau
                        </a>

                        <button mat-raised-button style="background-color: rgb(255, 136, 0); color:white" class="small ms-5" (click)="openCreateApprenantExcel('300ms', '100ms')">Insertion en masse</button>
                    </div>
                        <button mat-raised-button style="background-color: rgb(241, 59, 75); color:white" class="small ms-5"  [routerLink]="['absences']">Liste des absences</button>
                        <button mat-raised-button style="background-color: rgb(27, 87, 12); color:white" class="small ms-5"  (click)="onPresenceListClick()">Liste des presences</button>
                        <button mat-raised-button style="background-color: rgb(15, 69, 164); color:white" class="small ms-5" [routerLink]="['inactif']">Liste des Exclus</button>
                    </div>
                </mat-card-header>
                <div *ngIf="apprenant && (!apprenant || apprenant.length === 0)">
                    <p>Il n'y a pas d'Apprennants dans ce référentiel.</p>
                </div>
                <mat-card-content *ngIf="apprenant &&  apprenant.length != 0">
                    <div class="tagus-form-group">
                        <mat-form-field appearance="fill">
                            <i class="ri-search-line"></i>
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event)" #input>
                        </mat-form-field>
                    </div>
                    <img src="assets/img/iconDownload.png" alt="" (click)="exportAllToPDF()">
                    <div class="mat-elevation-z8 tagus-mat-table" #table>
                        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- Image Column -->
                            <ng-container matColumnDef="image">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
                                <td mat-cell *matCellDef="let element">
                                    <img src="{{ element.photo ? 'data:image/png;base64,'+element.photo : imgUser }}" alt="user" class="border-radius" width="40">
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="nom">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.is_active ? 'green' : 'red'}">{{element.nom | titlecase}}</td>
                            </ng-container>

                            <!-- Phone Number Column -->
                            <ng-container matColumnDef="prenom">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.is_active ? 'green' : 'red'}">{{element.prenom | titlecase}}</td>
                            </ng-container>

                            <!-- Email Column -->
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                                <td mat-cell *matCellDef="let element">{{element.email}}</td>
                            </ng-container>

                            <!-- Date of Birth Column -->
                            <ng-container matColumnDef="genre">
                                <th mat-header-cell *matHeaderCellDef>Genre</th>
                                <td mat-cell *matCellDef="let element">{{element.genre | titlecase}}</td>
                            </ng-container>

                            <!-- Address Column -->
                            <ng-container matColumnDef="telephone">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Téléphone</th>
                                <td mat-cell *matCellDef="let element">{{element.telephone}}</td>
                            </ng-container>
                            <!-- Action Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                <td mat-cell *matCellDef="let element">
                                    <button type="button" mat-button class="position-relative dot-btn p-0 bg-transparent border-none" [matMenuTriggerFor]="actionMenu">
                                <i class="{{element.action}}"></i>
                            </button>
                                    <mat-menu #actionMenu="matMenu" class="dotMenu two monthMenu" xPosition="before">
                                        <button mat-menu-item type="button" class="bg-transparent border-none position-relative" [routerLink]="[element.id]">

                                    <i class="ri-information-line"></i> Détails
                                </button>


                                <div *ngIf="isSuperAdmin">

                                    <div *ngIf="element.is_active===true">
                                        <button mat-menu-item type="button" class="bg-transparent border-none position-relative" (click)="openConfirmationDialog('300ms', '100ms',element.id)">
                                    <i class="ri-toggle-line"></i>Désactiver
                                </button>
                            </div>
                                </div>
                                <div *ngIf="element.is_active===false">
                                <button mat-menu-item type="button" class="bg-transparent border-none position-relative" (click)="openConfirmationActiveDialog('300ms', '100ms',element.id)">
                                    <i class="ri-toggle-fill"></i>Activer
                                </button>
                            </div>

                                    </mat-menu>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)" ></tr>
                        </table>
                        <mat-paginator #paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
                    </div>
                </mat-card-content>
            </mat-step>
            <!-- Emploie du temps -->
            <mat-step>
                <ng-template matStepLabel>Emploie du temps</ng-template>
                <app-promo-referentiel-emploie-du-temps [promo]="promo" [ref]="ref">
                </app-promo-referentiel-emploie-du-temps>
            </mat-step>
        </mat-stepper>
    </mat-card-content>

</mat-card>
