<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h5 class="mb-0">Insertions</h5>
    <ol class="breadcrumb mb-0 ps-0">
        <li class="breadcrumb-item">
            <a routerLink="/">
                <i class="ri-home-8-line"></i> Dashboard
            </a>
        </li>
        <li class="breadcrumb-item fw-semibold">Insertions</li>
    </ol>
</div>
<mat-card class="mb-25 tagus-card" [class.component-dark-theme]="themeService.isDark()">

    <mat-card-header>


        <h5 class="mb-0">Liste Des Entreprises</h5>
        <div class="d-flex align-items-center">
            <div>

                <a mat-flat-button class="default-btn tagus small">
                    <i class="ri-add-fill"></i>Nouveau
                </a>


            </div>
        </div>
    </mat-card-header>
</mat-card>


<div class="row" [class.component-rtl-enabled]="themeService.isRTLEnabled()" *ngFor="let insertion of insertions">
    <app-insertion-card [insertion]="insertion"></app-insertion-card>
</div>
