.export-button {
    background-color: #ef233c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }

  .export-button:hover {
    background-color: #d90429;
  }

  .export-excel {
    background-color: #52b788;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }

  .export-excel:hover {
    background-color: #40916c;
  }
